/* ============ COLOR PALETTE ============
* #608D8F - Blue-Green (prev: #5C7D89)
* #363B4E - Dark Blue
* #563947 - Dark Red
* #D4625E - Light Red (prev: #CD626A)
* #E8AC90 - Light Orange
* #DECF93 - Light Yellow (prev: #D4E7C2 Light Green)
======================================= */

@font-face {
  font-family: Pacifico;
  src: url(Pacifico.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', Palatino, serif;
}

body {
  background-color: #363B4E;
  color:#E6E6E6;
  font-weight: 300;
  overflow-x: hidden;
}

a:focus,
button:focus {
  outline: none;
}

nav ul {
  bottom: 8px;
  padding-inline-start: 0;
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1rem;
  margin-left: 15px;
}

nav li:nth-child(1) {
  margin-left: 0px;
}

h1 {
  font-size: 1.55rem;
  margin: 0px;
  margin-top: 6px;
  text-align: center;
}

h2 {
  color: #DECF93;
}

a,
a:visited {
  color: #E6E6E6;
  cursor: pointer;
  padding-bottom: 3px;
  position: relative;
  text-decoration-color: #D4625E;
  transition: color 0.25s;
}

a:hover,
a:focus {
  color: #D4625E;
  transition: color 0.25s;
}

button {
  cursor: pointer;
}

#body-anchor {
  left: 0;
  position: absolute;
  top: 0;
}

#pt {
  height: 100vh;
  left: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

#intro {
  font-size: 1.4rem;
  height: 70vh;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  max-width: 700px;
  text-align: center;
}

#intro p {
  margin-bottom: 36px;
  margin-top: 36px;
}

#intro-text {
  text-align: center;
}

#intro-text p {
  pointer-events: none;
  position: relative;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#intro button {
  bottom: 80px;
  display: block;
  left: calc(50vw - 20px);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#clinton-owen {
  position: relative;
}

#nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 2px;
}

#projects {
  margin-top: 100px;
}

.cursive {
  font-family: Pacifico;
  font-size: 1.1em;
  font-weight: lighter;
}

.relative {
  position: relative;
}

.section-anchor {
  left: 0;
  position: absolute;
  top: -100px;
}

.blank-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.nav-button {
  color: #E6E6E6;
  transition: color 0.25s;
}

.nav-button:hover,
.nav-button:focus {
  color: #D4625E;
  transition: color 0.25s;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #D4625E;
}

.navbar {
  background: hsl(228, 18%, 20%);
  height: 80px;
  left: 0;
  position: absolute;
  width: 100%;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.arrow {
  background: transparent;
	border-left: 7px solid white;
	border-top: 7px solid white;
	box-shadow: 0 0 0 lightgray;
  height: 40px;
  transition: all 200ms ease;
  transform: rotate(225deg);
	width: 40px;
}

#intro button:hover > .arrow,
#intro button:focus > .arrow,
.arrow:hover,
.arrow:focus {
  border-color: #D4625E;
  box-shadow: -0.5vmin -0.5vmin 0 white;
}

/* for better hit area */
.arrow:before {
  content: '';
  height: 190%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-70%,-70%) rotate(45deg);
  width: 150%;
}

.pointer {
  pointer-events: all;
}

.red {
  color: #D4625E;
}

.bold {
  font-weight: bold;
}

.clint-dot {
  bottom: -2px;
  left: 140px;
  position: absolute;
}

.nav-dot {
  top: 11px;
}

#clinton-owen:hover > .clint-dot {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: center bottom;
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@media only screen and (min-width: 600px) {
  nav ul {
    padding-right: 20px;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 14px;
  }
  nav li {
    font-size: 1.2rem;
    margin-left: 30px;
  }
  #pt {
    pointer-events: auto;
  }
  #intro {
    font-size: 1.8rem;
  }
  #clinton-owen {
    bottom: 0px;
  }
  #nav-wrapper {
    top: auto;
  }
  h1 {
    font-size: 2rem;
    margin-top: 22px;
    text-align: start;
  }
  .clint-dot {
    left: 179px;
  }
  .nav-dot {
    top: 15px;
  }
}
