/* ============ COLOR PALETTE ============
* #608D8F - Blue-Green (prev: #5C7D89)
* #363B4E - Dark Blue
* #563947 - Dark Red
* #D4625E - Light Red (prev: #CD626A)
* #E8AC90 - Light Orange
* #DECF93 - Light Yellow (prev: #D4E7C2 Light Green)
======================================= */

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', Palatino, serif;
}

body {
  background-color: #363B4E;
  color:#E6E6E6;
  font-weight: 300;
}

nav {
  position: absolute;
  right: 0px;
  top: 0px;
}

nav li {
  display: inline-block;
  font-size: 1rem;
  margin-left: 20px;
}

h1 {
  margin: 0px;
  padding-top: 30px;
}

h2 {
  color: #DECF93;
}

a,
a:visited {
  color: #E6E6E6;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #D4625E;
}

a:after {
  background: #D4625E;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
}

nav {
  margin-top: 25px;
}

#wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#wrapper > header {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#about {
  font-size: 1.3rem;
  line-height: 2em;
  margin-top: 40px;
  max-width: 600px;
}

#about p {
  font-size: 1.8rem;
  margin-bottom: 36px;
  margin-top: 36px;
}

#resume {
  background-color: #E6E6E6;
  color: #444444;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 17px 20px 0px 20px;
}

#resume a,
#resume a:visited {
  color: #444444;
  line-height: 1.0em;
}

#resume a:hover,
#resume a:focus {
  color: #D4625E;
}

#resume h2,
#resume h3,
#resume h4 {
  display: inline-block;
  margin: 0px;
}

#resume h2 {
  color: #444444;
}

#resume h3 {
  color: #D4625E;
  font-size: 1.2rem;
}

#resume h4 {
  font-size: 1.0rem;
}

#resume h4 > object {
  margin-left: 10px;
}

#resume h4 > em {
  padding-inline-start: 10px;
}

#resume hr {
  border: 1px solid #444444;
  border-bottom: none;
  margin: 5px 0px 5px;
}

#resume ul {
  margin: 0px;
  padding-inline-start: 30px;
}

#resume li {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

#resume li em {
  color: #D4625E;
  margin-right: 5px;
}

#info {
  font-size: 2.5rem;
  margin-top: -30px;
  position: relative;
  text-align: center;
}

a.svg {
  height: 40px;
  padding: 0px;
  position: relative;
  display: inline-block;
}

a.svg:after {
  background: none;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 40px;
}

#info object {
  border: 1px solid #D4625E;
  border-radius: 8px;
}

.resume-section {
  padding-bottom: 20px;
}

.title-date {
  float: right;
}

.red-dot {
  color: #D4625E;
  font-weight: bold;
}
