/* ============ COLOR PALETTE ============
* #608D8F - Blue-Green (prev: #5C7D89)
* #363B4E - Dark Blue
* #563947 - Dark Red
* #D4625E - Light Red (prev: #CD626A)
* #E8AC90 - Light Orange
* #DECF93 - Light Yellow (prev: #D4E7C2 Light Green)
======================================= */

@font-face {
  font-family: Pacifico;
  src: url(Pacifico.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', Palatino, serif;
}

body {
  background-color: #363B4E;
  color:#E6E6E6;
  font-weight: 300;
  overflow-x: hidden;
}

a:focus,
button:focus {
  outline: none;
}

nav ul {
  bottom: 8px;
  padding-inline-start: 0;
  position: relative;
  text-align: center;
  -webkit-padding-start: 0;
}

nav li {
  display: inline-block;
  font-size: 1rem;
  margin-left: 15px;
}

nav li:nth-child(1) {
  margin-left: 0px;
}

footer {
  text-align: center;
}

h1 {
  font-size: 1.55rem;
  margin: 0px;
  margin-top: 6px;
  text-align: center;
}

h2 {
  color: #DECF93;
  font-size: 2.3em;
  text-align: center;
}

h3 {
  color: #DECF93;
  font-size: 1.8em;
  text-align: center;
}

a,
a:visited {
  color: #E6E6E6;
  cursor: pointer;
  padding-bottom: 3px;
  position: relative;
  text-decoration-color: #D4625E;
  -webkit-text-decoration-color: #D4625E;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

a:hover,
a:focus {
  color: #D4625E;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

button {
  cursor: pointer;
}

#body-anchor {
  left: 0;
  position: absolute;
  top: 0;
}

#pt {
  height: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100vw;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  overflow-x: visible;
  padding-left: 20px;
  padding-right: 20px;
}

#intro {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  height: 100vh;
  justify-content: center;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  position: relative;
  text-align: center;
}

#intro p {
  padding-bottom: 36px;
  margin-block-end: 0;
  margin-block-start: 0;
}

#intro-text {
  text-align: center;
}

#intro-text p {
  pointer-events: none;
  position: relative;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#intro button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 2px;
}

#about {
  left: 0;
  margin-top: 160px;
  position: relative;
  width: 100%;
}

#about-anchor {
  top: -160px;
}

#about-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  overflow: hidden;
  position: relative;
}

#about-photo {
  text-align: center;
}

#about-photo img {
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgb(30, 30, 30);
}

#about-text {
  max-width: 600px;
}

#projects {
  margin-top: 80px;
}

#projects-anchor {
  top: -160px;
}

#contact {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 80px;
  max-width: 1080px;
  overflow: hidden;
  position: relative;
}

#contact h2 {
  min-width: 100%;
}

#contact-anchor {
  top: -140px;
}

.hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.cursive {
  font-family: Pacifico;
  font-size: 1.1em;
  font-weight: lighter;
}

.relative {
  position: relative;
}

.section-anchor {
  left: 0;
  position: absolute;
  top: -100px;
}

.blank-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.nav-button {
  color: #E6E6E6;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.nav-button:hover,
.nav-button:focus {
  color: #D4625E;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #D4625E;
  -webkit-text-decoration-color: #D4625E;
}

.navbar {
  background: #292d3c;
  box-shadow: 0px 2px 8px rgb(30, 30, 30);
  height: 80px;
  left: 0;
  position: absolute;
  width: 100%;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.arrow {
  background: transparent;
	border-left: 7px solid white;
	border-top: 7px solid white;
	box-shadow: 0 0 0 lightgray;
  height: 40px;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transform: rotate(225deg);
	width: 40px;
}

#intro button:hover > .arrow,
#intro button:focus > .arrow,
.arrow:hover,
.arrow:focus {
  border-color: #D4625E;
  box-shadow: -0.5vmin -0.5vmin 0 white;
}

/* for better hit area */
.arrow:before {
  content: '';
  height: 190%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-70%,-70%) rotate(45deg);
  width: 150%;
}

.pointer {
  pointer-events: all;
}

.red {
  color: #D4625E;
}

.bold {
  font-weight: bold;
}

.project {
  background: #292d3c;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgb(30, 30, 30);
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.project h3 a {
  color: #D4625E;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
}

.project h3 a:hover {
  text-decoration-color: #D4625E;
  -webkit-text-decoration-color: #D4625E;
}

.project h3,
.project h4 {
  margin-top: 0;
  text-align: center;
}

.project h4 a {
  margin-left: 8px;
  margin-right: 8px;
}

.fas {
  text-decoration: none;
}

.project-txt {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding-right: 20px;
}

.project-txt-rev {
  padding-left: 20px;
  padding-right: 0;
}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.project-img img {
  border: 2px solid #292d3c;
  border-radius: 4px;
  max-width: 400px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  width: 100%;
}

.project-img img:hover {
  border: 2px solid #D4625E;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.logo {
  bottom: -4px;
  position: relative;
}

.contact-logo {
  margin-left: 5px;
  margin-right: 5px;
}

.name {
  position: relative;
}

.nav-dot {
  top: 11px;
}

.clint-dot {
  bottom: -2px;
  left: 140px;
  position: absolute;
}

.name:hover > .clint-dot {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: center bottom;
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-top: 22px;
    text-align: start;
  }
  nav ul {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 14px;
  }
  nav li {
    font-size: 1.2rem;
    margin-left: 30px;
  }
  #intro {
    font-size: 1.8rem;
    min-height: 575px;
  }
  #intro button {
    padding-top: 36px;
  }
  #clinton-owen {
    bottom: 0px;
  }
  #nav-wrapper {
    top: auto;
  }
  #about-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #about-photo img {
    margin-right: 50px;
  }
  .contact-logo {
    margin-left: 15px;
    margin-right: 15px;
  }
  .clint-dot {
    left: 179px;
  }
  .nav-dot {
    top: 15px;
  }
}

@media only screen and (min-width: 900px) {
  .project {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: none;
  }
  .project-rev {
    flex-direction: row-reverse;
  }
  .project-img {
    width: auto;
  }
  .project-img img {
    max-width: none;
    width: 100%;
  }
}

@media (pointer: fine) {
  #pt {
    pointer-events: auto;
  }
}
